/*
FONTS
*/
h1, h2, h3, h4, h5, h6, .logo {
  font-weight: bold;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 599px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

/*
COLORS
*/

:root {
  --primary-color: #fff;
  --primary-color-light: #59739F;

  --secondary-color: #F5C519;
  --secondary-color-light: #f3e19f;

  --bg-color: #121212;
  --bg-color-light: #1F1F1F;

  --header-bg-color: #1F1F1F;
  --footer-bg-color: #1F1F1F;
}

.primary-color {
  color: var(--primary-color);
}

.primary-color-light {
  color: var(--primary-color-light);
}

.secondary-color {
  color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

p, span {
  color: var(--primary-color);
}

html, #root {
  background-color: var(--bg-color);
}

/*
PAGE DIMENSIONS
*/
:root {
  --gutter-desktop: 50px;
  --gutter-mobile: 20px;
}

#root {
  width: 100%;
  margin: 0 auto;
}

/*
HEADER STYLES
*/

header {
  padding: 0 var(--gutter-desktop);
  max-width: 200px;
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  header {
    padding: 0 var(--gutter-mobile);
  }
}

.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

.header-inner .logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
}

.header-inner .logo span {
  font-size: 3rem;
  text-decoration: none!important;
  color: var(--secondary-color);
}

@media screen and (max-width: 599px) {
  .header-inner .logo span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 299px) {
  .header-inner .logo span {
    font-size: 1rem;
  }
}

.header-inner .logo img {
  width: 50px;
  height: 50px;
}

/*
MAIN STYLES
*/

main {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

@media screen and (max-width: 599px) {
  main {
    padding: 0 var(--gutter-mobile);
  }
}

/*
TITLE STYLES
*/

.title-container {
  text-align: center;
}

/*
FOOTER STYLES
*/

footer {
  display: flex;
  justify-content: center;
  padding: 30px 50px;
  margin-top: 40px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-inner .footer-info {
  color: var(--secondary-color);
  font-weight: bold;
}

/*
FORM STYLES
*/

.form-wheel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1100px) {
  .form-wheel-container {
    flex-direction: row;
    gap: 50px;
  }
}

.form-container {
  z-index: 110;
  max-width: 500px;
  margin: 0 auto;
  z-index: 100;
  padding: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1100px) {
  .form-container {
    margin: 0 0 0 auto;
    width: 500px;
  }
}


.form-container-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-color-light);
  padding: 50px 40px;
  border-radius: 30px;
}

@media screen and (max-width: 599px) {
  .form-container-inner {
    padding: 0;
    background-color: transparent;
  }
}

/*
WHEEL STYLES
*/

.wheel-container {
  max-width: 450px;
  width: 100%;
  min-height: 405px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1100px) {
  .wheel-container {
    margin: 0 auto 0 0;
  }
}

.wheel-no-results-text {
  position: absolute;
  max-width: 200px;
  z-index: 99;
  background-color: var(--secondary-color);
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
}

/*
DROPDOWN ELEMENT
*/

.dropdown-container {
  width: 100%
}

.css-t3ipsp-control {
  border-color: var(--secondary-color)!important;
  box-shadow: 0 0 0 1px var(--secondary-color)!important;
}

.css-d7l1ni-option {
  background: var(--secondary-color-light)!important;
}

.css-tr4s17-option {
  background: var(--secondary-color)!important;
}

.css-10wo9uf-option:hover, .css-10wo9uf-option:focus {
  background: var(--secondary-color-light)!important;
}

.css-v7duua:hover, .css-v7duua:focus {
  background: var(--secondary-color)!important;
  color: white!important;
}

.css-1nmdiq5-menu {
  z-index: 100!important;
}

.css-1nmdiq5-menu {
  z-index: 1000!important;
}

/*
SLIDER SELECTOR
*/

.horizontal-slider {
  width: 100%; /* Adjust this as needed */
  height: 10px; /* Adjust the height of the slider track */
  margin: 20px 0;
}

.example-thumb {
  height: 20px;
  width: 20px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: grab;
  top: -5px;
  z-index: 0!important;
}

.example-track {
  height: 100%;
  border-radius: 10px;
}

.thumb-label {
  color: var(--secondary-color);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.thumb-label:focus, .example-thumb:focus {
  outline: none;
}

/*
MOVIE RESULT STYLES
*/

.movie-result-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 40px;
  margin-bottom: 0;
  border-radius: 30px;
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1100px) {
  .movie-result-container {
    flex-direction: column;
    max-width: 1000px;
    padding: 40px 40px;
  }
}

@media screen and (max-width: 599px) {
  .movie-result-container {
    padding: 0;
    background-color: transparent;
    gap: 10px;
    margin-bottom: 20px;
  }
}

.movie-result-container-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-color-light);
  border-radius: 30px;
}

@media screen and (min-width: 1100px) {
  .movie-result-container-inner {
    flex-direction: row;
    gap: 40px;
  }
}

.movie-result-info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-result-poster-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (min-width: 1100px) {
  .movie-result-info-container {
    flex: 0 0 calc(60%-40px);
  }

  .movie-result-poster-container {
    flex: 0 0 40%;
  }
}

.movie-poster {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.movie-title {
  color: var(--secondary-color);
  text-align: center;
}

.movie-data {
  width: 100%;
  color: var(--primary-color);
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.movie-data li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .movie-data {
    flex-direction: row;
  }
}

.movie-button {
  height: 48px;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--bg-color);
  font-weight: bold;
  border: none;
  box-shadow: none;
}

.spin-the-wheel-button {
  position: absolute;
  border: 1px solid black;
  background: #F5C519;
  color: black;
  z-index: 100;
}